.Slide-section {
    height: 100vh; 
}
.section {
    width: 65vw;
}
.section a {
    padding:14px; 
    border-radius:14px; 
    box-Shadow: 2px 2px grey;
    background-color: rgb(34, 112, 128);
    text-decoration: none;
    color: white;
}